{% extends "base.html" %}
{% block title %}
   Testni Boshlash
{% endblock title %}

{% block background_image %}
    background-image: url('');
{% endblock %}

{% block content %}
    <div class="card mt-5">
        <div class="card-header">
            <h3>Testni Boshlash - {{test.title}}</h3>
        </div>
        <div class="card-body">
           <p><b>Toifa</b>: {{test.category}}</p>
           <p><b>Savollar soni:</b> {{questions.all.count}} ta</p>
           <p><b>O'tish foizi:</b> {{test.pass_percentage}}<i class="bi bi-percent"></i></p>
           <p><b>Avtor:</b> <a href="">@{{test.author.username}}</a></p>

           <a href="#" class="btn btn-primary">Testni boshlash</a>
           <a href="{% url 'index' %}" class="btn btn-warning">Ortga</a>
        </div>
    </div>

{% endblock content %}