{% extends 'base.html' %}

{% block title %} Asosiy sahifa {% endblock %}

{% block background_image %}
    background-image: url('https://i.pinimg.com/originals/b4/23/7b/b4237bf7af83a3e5d58a78901a7c445c.jpg');
{% endblock %}


{% block content %}
    <nav class="shadow mb-5 navbar navbar-expand-lg text-primary-emphasis">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img style="width: 40px; height: auto;" src="../../media/images/icon/main_logo.png" alt="ToDo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Barcha Testlar</a>
            </li>
          </ul>

          <button id="themeToggle" class="btn btn-dark">
              <i id="themeIcon" class="fa-solid fa-moon"></i>
          </button>

        </div>
      </div>
    </nav>

{% endblock %}